body { 
	padding-top: 70px; 
	background-color: GhostWhite;
}

.borderless > thead > tr > th, 
.borderless > tbody > tr > th, 
.borderless > tfoot > tr > th, 
.borderless > thead > tr > td, 
.borderless > tbody > tr > td, 
.borderless > tfoot > tr > td {
	border-top: 0px;
}

.nopaddingrow > thead > tr > th, 
.nopaddingrow > tbody > tr > th, 
.nopaddingrow > tfoot > tr > th, 
.nopaddingrow > thead > tr > td, 
.nopaddingrow > tbody > tr > td, 
.nopaddingrow > tfoot > tr > td {
	padding: 0px;
}

.no-underline a:hover,
.no-underline a:focus {
	text-decoration: none;
}

.no-padding {
	padding: 2px;
}

.no-margin {
	margin: 0px;
}

strong.title {
	font-size: 30px;
}

.huge {
	font-size: 40px;
}

.small {
	font-size: 15px;
}

.tiny {
	font-size: 10px;
}

.center-align {
	vertical-align: middle;
	text-align: center;
}

.right-align {
	text-align: right;
}

.valign-middle {
	vertical-align: middle; !important
}

.valign-top {
	vertical-align: top;	
}

.cursor-crosshair {
	cursor: crosshair;
}

.cursor-pointer {
	cursor: pointer;
}

.footer {
	text-align: center;
	font-size: x-small;	
}

.dataTables_info {
	font-size: 12px;
}

.navgoco, .navgoco ul, .navgoco li {
    list-style: none;
}

.navgoco ul {
    padding: 0;
    margin: 0 0 0 18px;
}

.navgoco-root > li > ul {
	margin: 0px;
}

.navgoco-root > li a.root-menu {
	font-size: 16px;	
}

.navgoco {
    padding: 4px;
    margin: 0px;
}

.navgoco > li {
    margin: 4px 0;
}

.navgoco > li li {
    margin: 2px 0;
}

.navgoco a {
    color: #333;
    display: block;
    outline: none;
    text-decoration: none;
}

.navgoco li > a > span {
    float: right;
    font-size: 19px;
    font-weight: bolder;
}

.navgoco li > a:hover > span {
    color: #fff;
}

.navgoco li > a > span:after {
    content: '\25be';
}
.navgoco li.open > a > span:after {
    content: '\25b4';
}

.navgoco a:hover, .navgoco li.active > a {
    background-color: #5D5D5D;
    color: #f5f5f5;
}

.navgoco > li.active > a  {
    background-color: #4D90FE;
}

.navgoco li a {
    font-size: 16px;
    line-height: 18px;
    padding: 8px 15px;
}

.navgoco > li > a {
    font-size: 16px;
    line-height: 20px;
    padding: 8px 15px;
}